<li id="users-item">

  <%= image_tag(user.photo, :size => '150x150') %>

  <div class="index-box">
    <p>
      <%= user.name %>
    </p>

    <p class="post-counter">
      Number of posts <%= user.count_posts %>
    </p>
  </div>

</li>