.post-item {
  list-style-type: none;
  padding-right: 0;
}

.recent-comments {
  border: 2px solid rgb(203, 203, 203);
  margin-top: 4px;
}

.one-post {
  border: 2px solid rgb(177, 177, 177);
  padding: 8px;
  margin-top: 8px;
}

.diff {
  display: block;
}

.head-3 {
  margin-top: 0;
}

.owner-post {
  margin-top: 20px;
}

a {
  text-decoration: none;
}
