* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.unordered {
  margin-top: 16px;
}

#users-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.index-box {
  width: 100%;
  padding: 10px;
  margin-left: 8px;
}

.post-counter {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.cross-div {
  display: flex;
  width: 100%;
}

.bio {
  border: 2px solid rgb(83, 77, 77);
  margin-top: 4px;
}

.sev-post {
  border: 2px solid rgb(55, 115, 144);
  margin-top: 4px;
  padding: 8px;
}

.post-part {
  display: flex;
  justify-content: flex-end;
}

.post-comment {
  display: inline;
}

.post-like {
  display: inline;
}

.btn {
  color: white;
  background: rgb(167, 167, 167);
}

.btn a {
  color: rgb(224, 224, 224);
}

.btn a:hover {
  color: rgb(0, 0, 0);
}
