* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.unordered {
  margin-top: 16px;
}

#users-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.index-box {
  width: 100%;
  padding: 10px;
  margin-left: 8px;
}

.post-counter {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.cross-div {
  display: flex;
  width: 100%;
}

.bio {
  border: 2px solid #555;
  margin-top: 4px;
}

.sev-post {
  border: 2px solid #356;
  margin-top: 4px;
  padding: 8px;
}

.post-part {
  display: flex;
  justify-content: flex-end;
}

.post-comment {
  display: inline;
}

.post-like {
  display: inline;
}

.btn {
  color: white;
  background: #bbb;
}

.btn a {
  color: #fff;
}
